@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.logo {
  align-items: center;
    padding-left: 5%;
    padding-top: 4%;
    width: 280px; 
    height: auto;
}

@media only screen and (max-width: 600px) {
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}


body .title {
    display: flex;
    justify-content: center;
    padding-block: 30px;
    flex-wrap: wrap;
    max-width: 1800px;
    font-size: 25px;
}


body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1800px;
  margin: 0px 0;
}

body .container .card {
  position: relative;
  min-width: 380px;
  height: 300px;

  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card:hover {
  transform: translateY(-20px);
}


body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content h2 {
    padding-bottom: 10px;
    font-size: 60px;
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #000000;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
  z-index: 1;
  transition: 0.5s;
}


/* From cssbuttons.io */
button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }
